.vscode/**
.vscode-test/**
src/**
out/**
node_modules/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
test-sample.md
test-sample.pdf
USAGE.md
webpack.config.js
eslint.config.mjs
.vscode-test.mjs
**/.DS_Store
*.svg
create-icon.js